In [1]:
lax_coordinates = (33.9425, -118.408056)

In [2]:
city, year, pop, chg, area = ('Tokyo', 2003, 32450, 0.66, 8014)

In [3]:
traveler_ids = [('USA', '31195855'), ('BRA', 'CE342567'), ('ESP', 'XDA205856')]

In [8]:
for passport in sorted(traveler_ids):
    print('{}/{}'.format(*passport))

BRA/CE342567
ESP/XDA205856
USA/31195855

In [9]:
for country, _ in traveler_ids:
    print(country)

USA
BRA
ESP

In [10]:
latitude, longitude = lax_coordinates

In [11]:
latitude

33.9425

In [12]:
longitude

-118.408056

In [14]:
divmod(20, 8)

(2, 4)

In [15]:
t = (20, 8)

In [17]:
quotient, remainder = divmod(*t)

In [18]:
quotient, remainder

(2, 4)

In [19]:
import os

In [22]:
_, filename = os.path.split('/home/gaoy/file.txt')

In [23]:
filename

'file.txt'

In [24]:
metro_areas = [('Tokyo', 'JP', 36.933, (35.689722, 139.691667)),
               ('Delhi NCR', 'IN', 21.935, (28.613889, 77.208889)),
               ('Mexico City', 'MX', 20.142, (19.433333, -99.133333)),
               ('New York-Newark', 'US', 20.104, (40.808611, -74.020386)),
               ('Sao Paulo', 'BR', 19.649, (-23.547778, -46.635833))]

In [25]:
for name, cc, pop, (latitude, longitude) in metro_areas:
    if longitude <= 0:
        print(name, latitude, longitude)

('Mexico City', 19.433333, -99.133333)
('New York-Newark', 40.808611, -74.020386)
('Sao Paulo', -23.547778, -46.635833)